*{margin:0;padding:0;transition:.6s}
::-webkit-scrollbar{display:none}
body{font-family:"宋体";user-select:none}
a,li{text-decoration:none;list-style:none}
.box{width:100%;overflow:hidden}
.main{width:100%;height:100vh;text-align:center;font-size:50px;background-size:cover}
.nav{width:50px;height:100vh;display:flex;justify-content:center;flex-direction:column;position:fixed;z-index:3}
.nav-content a{height:50px;display:flex;justify-content:space-between;line-height:50px;color:pink;font-weight:bold;opacity:.5}
.nav-content .hover{color:#3d7df0}
.nav-content .text{display:none}
.nav-content:hover .text{display:block}
.banner .background{position:absolute;top:0;width:100%;height:100vh;overflow:hidden}
.banner .dai{color:#3d7df0;position:absolute;left:-10%;font-size:900px;opacity:.3;z-index:2}
.banner .ai-dai{color:pink;position:absolute;left:-10%;top:-100px;font-size:900px;opacity:0;z-index:1}
.banner .jiang{color:pink;position:absolute;right:-10%;font-size:900px;opacity:.3;z-index:2}
.banner .ai-jiang{color:#3d7df0;position:absolute;right:-10%;top:-100px;font-size:900px;opacity:0;z-index:1}
.banner .dai:hover{opacity:0}
.banner .dai:hover~.ai-dai{opacity:.3}
.banner .jiang:hover{opacity:0}
.banner .jiang:hover~.ai-jiang{opacity:.3}
.banner{width:100%}
.banner p{padding-top:20%}
.banner .time{padding:3%}
.banner .time span{color:red;font-size:70px}
.content{padding:100px 0}
.text-big{width:85%;height:80vh;overflow:hidden;margin:0 auto;padding:0 15%;z-index:99}
.text-big ul li{margin:30px 0;text-align:left}
.text-big ul li span{color:red;opacity:.5}
.content .background{position:absolute;top:1100px;right:0%;opacity:.1;font-size:800px;z-index:1}
.img{width:100%;overflow:hidden}
.imgs{width:150%;display:flex}
.imgs img{width:33.33%;height:50vh;text-align:center;line-height:50vh}
@media screen and (max-width:500px){.main{font-size:30px}
.nav{width:60px;}
.imgs img{width:auto;height:50vh}
.text-big{height:auto;overflow:visible}
.content{height:auto}
.img{height:auto;overflow:visible}
.imgs{width:100%;display:block}
.banner p{padding-top:90%}
.banner .background>*{top:-20%;}
.banner .dai:hover{opacity:0}
.banner .dai:hover~.ai-dai{opacity:0}
.banner .dai:hover~.jiang{opacity:0}
.banner .jiang:hover{opacity:0}
.banner .jiang:hover~.ai-jiang{opacity:0}
.banner .jiang:hover~.dai{opacity:.3}
}